html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container {
  height: 48rem;
  width: 75rem;
  background-color: #de8a89;
  margin-top: 5rem;
}
.materials {
  margin-top: 6rem;
  font-size: 50px;
  font-weight: 900;
  text-align: end;
  word-spacing: 2rem;
}
.white {
  color: white;
}
.off {
  color: #e9afb0;
  cursor: pointer;
}
.off:hover {
  color: #f1c9ca;
}
.info {
  padding-left: 15rem;
  color: #fbfdff;
}
.condition {
  display: flex;
  justify-content: center;
}
.weather {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #3e3c3d;
  color: white;
  width: 45rem;
  height: 15rem;
  text-align: center;
  margin-top: 2rem;
}

.light,
.fair,
.black {
  padding-top: 5rem;
  position: relative;
}
h3 {
  color: #ce8780;
}
.black {
  background-color: #201e1f;
}
.fair {
  background-color: #353334;
}
.nature,
.natures {
  font-size: 25px;
  font-weight: 500;
}
.shape {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin-left: 10rem;
  margin-top: 2rem;
  background-color: #ecb9b8;
  cursor: pointer;
}
.triangle1 {
  height: 1rem;
  width: 1rem;
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid gray;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
.shapes {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  background-color: black;
  margin-left: 50rem;
  margin-top: 2rem;
  background-color: #ecb9b8;
  cursor: pointer;
}
.triangle2 {
  height: 1rem;
  width: 1rem;
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid grey;
}
.start {
  position: absolute;
  height: 3rem;
  width: 12rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  margin-left: 1rem;
  cursor: pointer;
}
